        
        h1{font-size: 22px;
            text-align:center;
        }
        p{
            font-size:120%;
        }
        a.nazad{
            font-style:italic;
        }
        .zmist{
            text-align: center;
        }
        article{
            font-size: 120%;
        }
        h2{
            font-size: 144%;
        }
        a.dozmistu{
            font-weight: 600;
        }
        a.Uverh{
            text-transform: uppercase;
        }




       ul.links a{
        text-decoration: none;
    }
    ul.links li{
        list-style: none;
        width:200px;
        border: solid black 2px;
        background-color: blue;
        margin-bottom: 2px;
    }
    ul.links a:link{
        color:yellow;
    }
    ul.links a:visited{
        color:coral;
    }
    ul.links li:hover{
        background-color: magenta;
    }
    ul.links li:hover a{
        color:black !important;
    }
    ul.links li:active{
        background-color: yellow;
    }
    ul.links li:active a{
        color: blue !important;
    }
    #BaseInform > p{
        background-color: pink;
        color:blue;
    }
    #Childhood > p{
        background-color: black;
        color:orangered;
    }
    #Schoolyears > p{
        background-color: orange;
        color:purple;
    }
    #beyondSchool > p{
        background-color: green;
        color:white;
    }
    #University > p{
        background-color: blueviolet;
        color:white;
    }        
    h1{font-size: 22px;
        text-align:center;
    }
    p{
        font-size:120%;
    }
    a.nazad{
        font-style:italic;
    }
    .zmist{
        text-align: center;
    }
    article{
        font-size: 120%;
    }
    h2{
        font-size: 144%;
    }
    a.dozmistu{
        font-weight: 600;
    }
    a.Uverh{
        text-transform: uppercase;
    }




   ul.links a{
    text-decoration: none;
}
ul.links li{
    list-style: none;
    width:200px;
    border: solid black 2px;
    background-color: blue;
    margin-bottom: 2px;
}
ul.links a:link{
    color:yellow;
}
ul.links a:visited{
    color:coral;
}
ul.links li:hover{
    background-color: magenta;
}
ul.links li:hover a{
    color:black !important;
}
ul.links li:active{
    background-color: yellow;
}
ul.links li:active a{
    color: blue !important;
}
#BaseInform > p{
    background-color: pink;
    color:blue;
}
#Childhood > p{
    background-color: black;
    color:orangered;
}
#Schoolyears > p{
    background-color: orange;
    color:purple;
}
#beyondSchool > p{
    background-color: green;
    color:white;
}
#University > p{
    background-color: blueviolet;
    color:white;
}