h1{
    text-align: center;
    font-size: 22px;
}
h2{
    text-align: center;
}
a.nazad{
    font-style:italic;
}
th{
text-align: center;
background-color: green;
color:rgb(220, 194, 194);
font-weight:bold;
}
th:nth-child(5), td:nth-child(5){
text-align: end;
}
tbody tr:nth-child(odd) td{
    background-color: gray;
}
table{
    border-collapse: collapse;
}
table td,th{
    border: solid black 1px;
    text-align: center;
    padding: 1px;
}