h1{
    font-size: 20px;
    text-align: center;
    
  }
p>a{
    font-style: oblique;
   }
h2{
    text-align: center;
  }
#fho1{
    text-align: center;
    font-size: 12.6px;
   }
#fho2{
    text-align: center;
    font-size: 23.4px;
   }
#fho3{
    text-align: center;
    font-size: 30.42px;
   }
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .row {
    width: 100%;
    }
    /* Large devices */
    @media (min-width: 992px) {
    .ff{
        float: left;
        padding: 5px;
        }
    }
    @media (min-width: 768px) and (max-width: 992px) {
        .ff{
        float: left;
        
        padding: 5px;
    
        }
    }
    @media (max-width: 768px) {
        .ff{
        float: left;
        
        padding: 5px;
    
        }
    }