h1{
    text-align: center;
}
a.nazad{
    font-style:italic;
}
h2{
    text-align: center;
}






ul.firstList > li:nth-child(odd){
    background-color: gray;
}
ul.firstList > li:nth-child(odd) li:nth-child(odd){
    background-color: white;
}
ul.firstList > li:nth-child(even){
    background-color: white;
}
ul.firstList > li:nth-child(even) li:nth-child(odd){
    background-color: gray;
}
ol.secondList > li:nth-child(4){
    background-color:red;
}
ol.secondList > li:nth-child(3):hover, ol.secondList > li:nth-child(5):hover{
    cursor: pointer;
}
